<footer class="second-fotter">
  <div class="second-fotter-text-wrap">
    <%= link_to "プライバシーポリシー", "#", class: "second-fotter-text" %>
    <%= link_to "フリマ利用規約", "#", class: "second-fotter-text" %>
    <%= link_to "特定商取引に関する表記", "#", class: "second-fotter-text" %>
  </div>

  <%= link_to root_path do %>
    <%= image_tag "furima-logo-color.png", class: "second-fotter-logo", alt: "FURIMA" %>
  <% end %>

  <p class="second-fotter-copy">©︎Furima,Inc.</p>
</footer>
