<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name"><%= @item.name %></h2>

    <div class='item-img-content'>
      <%= image_tag @item.image, class:"item-box-img" %>
      <%# 商品が売れている場合は「Sold Out」を表示する %>
      <% if @item.order.present? %>
        <div class='sold-out'>
          <span>Sold Out!!</span>
        </div>
      <% end %>
    </div>

    <div class="item-price-box">
      <span class="item-price"><%= number_to_currency(@item.price, unit: "¥", precision: 0, format: "%u %n") %></span>
      <span class="item-postage">
        <%= @item.shipping_fee_status&.name || "配送料未設定" %>
      </span>
    </div>

    <%# ▼ 出品者は売却前のみ 編集/削除、購入者側は売却前のみ 購入導線 %>
<% if user_signed_in? && current_user == @item.user %>
  <% if @item.order.blank? %>
    <%= link_to "商品の編集", edit_item_path(@item), class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除",
                item_path(@item),
                class: "item-destroy",
                rel: "nofollow",
                data: { turbo_method: :delete } %>
    <%# ↑ turbo_confirm を削除 %>
  <% end %>
<% else %>
  <%# 売れていない場合だけ購入ボタン（未ログインはログイン導線） %>
  <% if @item.order.blank? %>
    <% if user_signed_in? %>
      <%= link_to "購入画面に進む",
                  item_orders_path(@item),
                  data: { turbo: false },
                  class: "item-red-btn" %>
    <% else %>
      <%= link_to "ログインして購入へ", new_user_session_path, class: "item-red-btn" %>
    <% end %>
  <% end %>
<% end %>

    <div class="item-explain-box">
      <%= simple_format(@item.info) %>
    </div>

    <table class="detail-table">
      <tbody>
        <tr><th class="detail-item">出品者</th><td class="detail-value"><%= @item.user&.nickname || "不明" %></td></tr>
        <tr><th class="detail-item">カテゴリー</th><td class="detail-value"><%= @item.category&.name || "未設定" %></td></tr>
        <tr><th class="detail-item">商品の状態</th><td class="detail-value"><%= @item.sales_status&.name || "未設定" %></td></tr>
        <tr><th class="detail-item">配送料の負担</th><td class="detail-value"><%= @item.shipping_fee_status&.name || "未設定" %></td></tr>
        <tr><th class="detail-item">発送元の地域</th><td class="detail-value"><%= @item.prefecture&.name || "未設定" %></td></tr>
        <tr><th class="detail-item">発送日の目安</th><td class="detail-value"><%= @item.scheduled_delivery&.name || "未設定" %></td></tr>
      </tbody>
    </table>

    <div class="option">
      <div class="favorite-btn"><span>お気に入り 0</span></div>
      <div class="report-btn"><span>不適切な商品の通報</span></div>
    </div>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。<br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="button" class="comment-btn">
        <span>コメントする</span>
      </button>
    </form>
  </div>

  <div class="links">
    <a href="#" class="change-item-btn">＜ 前の商品</a>
    <a href="#" class="change-item-btn">後ろの商品 ＞</a>
  </div>
  <a href="#" class='another-item'>
    <%= @item.category&.name || "カテゴリー" %>をもっと見る
  </a>
</div>

<%= render "shared/footer" %>
